@page
@model AboutModel
@{
    ViewData["Title"] = "About Tunisian Accent";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@Model.Message</h3>*@

<h1>Let's Learn Tunisian Accent "Deerja Tunsiya "</h1>
<p>
    As you can see Tunisia has a long history <b>30.000 years of civilization</b>.
    <h4> that's what makes Tunisian accent very special & unique (it's a mixture of old barbarian language & new languages such as French & English).</h4>
    Learning Tunisian accent is Fun & you'll end knowing some French & Arabic along the way.<br />
 
</p>
to learn more about the History of  Tunisia  go here <a asp-page="/Index">Tunisia</a><br />
to learn our AWSOME accent go here <a asp-page="/Words/Index">TunisianArabic </a>
