@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    <h4> This Web App was created by <b> Khawla Hafsia</b></h4> 
    <h3> about me :</h3>

    I Am a Tunisian exchange student as a part of the Thomas Jefferson Scholarship Program <b>TJSP</b> <br />
    Currentry an CS stident at LCC majoring in <b>  Mobile APP Development </b> <br />
    After finishing this year here at Lane Community College I need to go back to Tunisia and finish 2 more year to get a <b>Software Engineering Degree</b> <br />

    <h4> My Interests : </h4>
   Other than coding <br />
    I like Nail Art , Photography, Travel and Learnning New languages

    <h3> Hope you enjoy this App & Learn the AMAZING Tunisian Accent</h3>

</p>

<address>
    @*<strong>e-mail:</strong> <a href="khawlahafsiaa@gmail.com">Email</a><br />*@
    <strong>linkedin profile:</strong> <a href="https://www.linkedin.com/in/khawla-hafsia/"> My linkedin </a>
</address>
