@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="contact">
    <div class="container">
        <div class="well well-sm">
            <h3><strong> Let's Learn more about Tunisia</strong></h3>
        </div>

        <div class="row">
            <div class="col-md-7">
                <iframe src="https://i.pinimg.com/564x/6b/f3/80/6bf3807d906938d7dd948c893a93d251--travel-maps-north-africa.jpg" width="100%" height="580" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <h3><strong>Tunisia</strong></h3>
                <p>
                    the Republic of Tunisia is a country in North Africa, covering 165,000 square kilometres
                    (64,000 square miles). Its northernmost point, Cape Angela, is the northernmost point on the African continent.
                    It is bordered by Algeria to the west and southwest, Libya to the southeast, and the Mediterranean Sea to the north and east.
                    Tunisia's population was estimated to be just under 11.93 million in 2016.
                    Tunisia's name is derived from its capital city, Tunis, which is located on Tunisia's northeast coast
                </p>

                <h3>Climate</h3>
                <p>
                    Tunisia's climate is Mediterranean in the north, with mild rainy winters and hot, dry summers.<br />
                    The south of the country is desert. The terrain in the north is mountainous, which, moving south, gives way to a hot,
                    dry central plain.<br /> The south is semiarid, and merges into the Sahara. A series of salt lakes, known as chotts or shatts,
                    lie in an east-west line at the northern edge of the Sahara, extending from the Gulf of Gabes into Algeria
                    .<br />
                    <h4>
                        The lowest point is Chott el Djerid at 17 metres (56 ft) below sea level and the highest is Jebel ech Chambi
                        at 1,544 metres (5,066 ft)
                    </h4>

                    <a herf="http://harissa.com/news/article/histoire-de-la-tunisie-les-dates-importantes"> More Information about Histrory of Tinisia </a>
                </p>
            </div>
        </div>
    </div>
</section>
<h3><strong> the History of Tunisia</strong></h3>
<section class="slide-wrapper">
    <div class="container">
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>

            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item item1 active">
                    <div class="fill" style=" background-color:#48c3af;">
                        <div class="inner-content">
                            <div class="carousel-img">
                                <img src="http://www.cassiciaco.it/navigazione/africa/ago_citta/cartagine/bardo/images/hermaion.jpg" alt="ElGuettar" class="img img-responsive" />
                            </div>
                            <div class="carousel-desc">
                                <h2>El Guettar prehistoric</h2>
                                <p>
                                    prehistory in Europe and the Near East (including North Africa) which lasted from 300,000 BC to 30,000 BC.
                                    The Paleolithic is marked by the appearance of tools carved in flakes of stone or flint, this appearance was manifested towards the end of its second half,
                                    the historians have called the period when appeared these tools cut the Mousterian, the Mousterian therefore is a period of history.
                                    The Hermitage of El Guettar is called a Mousterian site because it belongs to this period
                                </p>
                                <a href=http://elguetlhisthombch2180.blogspot.com/p/blog-page_13.html target="_blank"> click here for more info</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="fill" style=" background-color:#48c3af;">
                        <div class="inner-content">
                            <div class="carousel-img">
                                <img src="https://i1.trekearth.com/photos/64998/coliseum.jpg" alt="ElJam" class="img img-responsive" />
                            </div>
                            <div class="carousel-desc">
                                <h2>Coliseum El jam</h2>
                                <p>
                                    El Djem is famous for its amphitheatre, capable of seating 35,000 spectators. <br />
                                    Only Rome's Colosseum (about 45,000 spectators) and the ruined theatre of Capua are larger.
                                    The amphitheatre at El Djem was built by the Romans under proconsul Gordian, who was acclaimed Emperor at Thysdrus, around 238 and was probably mainly used for gladiator shows and chariot races.<br />
                                    Until the 17th century it remained more or less whole. From then on its stones were used for building the nearby village of El Djem and transported to the Great Mosque in Kairouan, and at a tense moment during struggles with the Ottomans, the Turks used cannons to flush rebels out of the amphitheatre.
                                    <br />
                                    The ruins of the amphitheatre were declared a World Heritage Site in 1979
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item3">
                    <div class="fill" style=" background-color:#48c3af;">
                        <div class="inner-content">
                            <div class="carousel-img">
                                <img src="https://tunisianquestfortruth.files.wordpress.com/2012/05/tunisia_photo_trip_01.jpg" alt="Cartage" class="img img-responsive" />
                            </div>
                            <div class="carousel-desc">
                                <h2>Cartage</h2>
                                <p>
                                    According to a tradition transmitted by Timaeus and taken over by Justin, Carthagea was founded around 814 BC by Elissa or Dido,
                                    sister of the king of Tire, Pygmalion, accompanied by notables Tyrians fleeing their homeland and Cypriots. The Jewish historian Josephus,
                                    citing Menander, the Greek of Asia who had consulted the Royal Archives of Tire, reports the event to Elissa and situates
                                    it between 825 and 819. But it is impossible to demonstrate that these two accounts are independent of each other. one of the other,
                                    also their probative value remains uncertain. The oldest Phoenician monument found at Carthage is a votive chapel at the top of Salammbo;
                                    it can be dated by Greek ceramics placed in a foundation deposit and accompanying sacrificial offerings, around 725 BC. The known Punic tombs

                                    are not earlier than the end of this century. Also, many scholars (including Rhys Carpenter) reject the literary tradition and rely on
                                    these archaeological documents to date the foundation of the city of the mid-eighth century. Deep soundings in the coastal plain at the
                                    foot of Byrsa demonstrate the existence of an archaic habitat dating from the first half of the 8th century BC.
                                    We know practically nothing about Carthage from the eighth and seventh centuries BC, except that it lived cabotage, imported all the products manufactured and had
                                    for god tutelary Baal Hammon, El Phoenician, assimilated later to Kronos and Saturn. To him were the children who were burned alive in
                                    sacrifice (molek), to assure life and prosperity to the city, in its tophet of Salammbo. A century and a half after the founding of the city,
                                    the Carthaginians settled in Ibiza (Baleares). From the middle of the sixth century, the city is ruled by kings belonging to the family of the
                                    Magonides. Allied with the Etruscans, she dominates the Sicily of the Southwest, takes foot in Sardinia, pushes the Phocaeans from Corsica to
                                    Alalia, rescues Gadir (Cadiz) besieged by the Iberians, hunting Dôrieus and his Spartan settlers of Tripolitania. In the last years of the
                                    century, Pyrgi's gold lamellae testified to his agreement with Caere, and the first treaty of alliance with Rome was concluded.
                                    The wealth of funerary furniture testifies to its prosperity and the activity of trade with Egypt, Greece and Etruria.
                                </p>
                                <a href="http://www.harissa.com/news/article/histoire-de-carthage" target="_blank">click here to learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item4">
                    <div class="fill" style=" background-color:#48c3af;">
                        <div class="inner-content">
                            <div class="carousel-img">
                                <img src="http://img.over-blog-kiwi.com/1/92/53/41/20151214/ob_224348_17330254.jpg" alt="Church" class="img img-responsive" />
                            </div>
                            <div class="carousel-desc">
                                <h2>Cathedral Saint-Vincent-de-Paul of Tunis </h2>
                                <p>
                                    The St. Vincent de Paul Cathedral ( Arabic  :  كاتدرائية تونس ) is the cathedral of rite Catholic of the city of Tunis ( Tunisia ).<br />

                                    Built between 1893 and 1897 , it bears the name of St. Vincent de Paul ,
                                    the famous founder of the Lazarists and daughters of Charity<br /> and who - when he was a young priest -
                                    was captured and sold as a slave in Tunis at the beginning of the xvii th  century
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item5 ">
                    <div class="fill" style=" background-color:#48c3af;">
                        <div class="inner-content">
                            <div class="carousel-img">
                                <img src="http://www.tunisie-souvenirs.com/photos/content/images/kairouan.jpg" alt="kairouan" class="img img-responsive" />
                            </div>
                            <div class="carousel-desc">
                                <h2>kairouan mosquée okba</h2>
                                <p>
                                    he Great Mosque is the symbol of Kairouan.
                                    It is one of the oldest and most beautiful mosques in the world, one of the most impressive monuments in the Maghreb! Its religious prestige makes Kairouan the 4th holy city of Islam.
                                    We admire its imposing minaret, its majestic court with impressive dimensions, surrounded by beautifully designed arcades and sheltering a sundial, and the high doors of cedar wood richly carved.
                                    They open onto prayer rooms, decorated with dozens of marble columns, unfortunately only for Muslims. Do not be surprised if the material differs from one column to another, these were taken from ancient Roman sites!
                                    Built in 670, this architectural masterpiece of which the aspect evokes a rammed fortress inspired the other mosques of the Maghreb.
                                    The four cupolas symbolize the four holy cities of Islam (Mecca, Medina, Jerusalem, and Kairouan)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item6">
                    <div class="fill" style=" background-color:#48c3af;">
                        <div class="inner-content">
                            <div class="carousel-img">
                                <img src="http://www.tunisiaonline.com/wp-content/uploads/2015/12/El-Ghriba-synagogue-djerba-tunisia.jpg" alt="Ghriba" class="img img-responsive" />
                            </div>
                            <div class="carousel-desc">
                                <h2>The synagogue of Ghriba </h2>
                                <p>
                                    The synagogue of Ghriba ( كنست الغريبة ) is a Tunisian synagogue that is one of the main identity markers of the Jews of Djerba , one of the last living Jewish communities in the Arab world .<br />
                                    It is the subject of an annual pilgrimage, on the occasion of the Jewish holiday of Lag Ba'omer , gathering several thousands of pilgrims. It is also one of the main tourist attractions of the island of Djerba .<br />
                                    Its fame is based on the many traditions and beliefs that emphasize its antiquity and the fact that it would contain remnants of Solomon's Temple .<br />
                                    Historically, the pilgrimage brought together members of local communities and more broadly Jews from Tunisia and neighboring Libya . With the departure of Jews from Arab countries , visitors come mainly from France and Israel .<br />
                                    Like the six other ghriba scattered throughout the Maghreb , it stands isolated in the open countryside, one kilometer from the village of Erriadh (Hara Sghira), one of the two Jewish villages that account the island and which was inhabited
                                    until the xx th  century by Cohanim , which, according to local legends corroborates the fact that the Ghriba was founded by priests from Jerusalem .<br />
                                    There are five synagogues but, in order to maintain the pre-eminence of the Ghriba,<br />
                                    there is a tradition that the scrolls of the Torah used there are kept at the Ghriba where they are brought
                                    in procession.<br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item7">
                    <div class="fill" style=" background-color:#48c3af;">
                        <div class="inner-content">
                            <div class="carousel-img">
                                <img src="http://www.letemps.com.tn/sites/www.letemps.com.tn/files/styles/620px_wide/public/main/articles/le%20temps-%20revolution%20tunisie%20_0.jpg" alt="Revollution" class="img img-responsive" />
                            </div>
                            <div class="carousel-desc">
                                <h2>Tunisian Revolution </h2>
                                <p>
                                    The Tunisian Revolution[8] was an intensive campaign of civil resistance, including a series of street demonstrations taking place in Tunisia, and led to the ousting of longtime president Zine El Abidine Ben Ali in January 2011. It eventually led to a thorough democratization of the country and to free and democratic elections.

                                    The demonstrations were caused by high unemployment, food inflation, corruption,[9][10] a lack of political freedoms like freedom of speech[11] and poor living conditions. The protests constituted the most dramatic wave of social and political unrest in Tunisia in three decades[12][13] and resulted in scores of deaths and injuries, most of which were the result of action by police and security forces against demonstrators.

                                    The protests were sparked by the self-immolation of Mohamed Bouazizi on 17 December 2010[14][15][16] and led to the ousting of President Zine El Abidine Ben Ali 28 days later on 14 January 2011, when he officially resigned after fleeing to Saudi Arabia, ending 23 years in power.[17][18] Labour unions were an integral part of the protests.[19] The Tunisian National Dialogue Quartet was awarded the 2015 Nobel Peace Prize for "its decisive contribution to the building of a pluralistic democracy in Tunisia in the wake of the Tunisian Revolution of 2011".[20] The protests inspired similar actions throughout the Arab world, known as the Arab Spring.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>
</section>

